html {
  font: 16px 'Lato', sans-serif;
  background: #fff;
}
body {
  margin: 0 auto;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.6em;
}
h3 {
  font-size: 1.2em;
}
a {
  color: #000;
}
a:hover {
  color: #f64a6e;
}
pre {
  overflow-x: auto;
  background-color: #f0efef;
  border: 1px solid #ebeaea;
  padding: 15px;
}
li {
  list-style-type: none;
  display: block;
  margin-bottom: 5px;
}
nav.computer-version {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  padding: 10px;
  overflow: auto;
  background-color: #f0efef;
  border-right: 1px solid #ebeaea;
}
nav.computer-version ul {
  padding-left: 15px;
}
nav.mobile-version {
  position: absolute;
  top: 0;
  width: 100%;
  height: 60px;
  overflow: hidden;
  background: #f0efef;
  border-bottom: 1px solid #373737;
  display: none;
}
nav.mobile-version a {
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 7px;
}
nav.mobile-version ul {
  padding: 0;
}
nav.mobile-version li {
  margin: 0;
  height: 40px;
}
nav.mobile-version li:hover {
  background-color: #808080;
}
nav.mobile-version .wrapper {
  position: absolute;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #939393;
}
.nav-button {
  position: absolute;
  width: 60px;
  height: 60px;
  background: url("../img/menu-icon.svg") no-repeat center center;
}
.nav-button:hover {
  cursor: pointer;
}
.title {
  text-align: center;
  margin-top: 20px;
}
.content {
  margin-top: 70px;
  text-align: center;
}
.show {
  display: block !important;
}
.hide {
  display: none !important;
}
article {
  padding-left: 215px;
  padding-right: 15px;
}
.date {
  font-size: 0.8em;
  color: #454545;
}
@media (max-width: 800px) {
  nav.computer-version {
    display: none;
  }
  nav.mobile-version {
    display: block;
  }
  article {
    padding-left: 15px;
    padding-top: 60px;
  }
}
