html {
  font: 16px 'Lato', sans-serif;
  background: #fff;
}
body {
  margin: 0 auto;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.6em;
}
h3 {
  font-size: 1.2em;
}
a {
  color: #000;
}
nav.computer-version {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  padding: 10px;
  overflow: auto;
  background-color: #f0efef;
  border-right: 1px solid #ebeaea;
}
nav.mobile-version {
  position: absolute;
  top: 0;
  width: 100%;
  height: 60px;
  overflow: hidden;
  background: #f0efef;
  border-bottom: 1px solid #ebeaea;
  display: none;
}
nav.mobile-version .wrapper {
  position: absolute;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #939393;
}
nav.mobile-version .nav-button {
  position: absolute;
  width: 60px;
  height: 60px;
  background: url("../img/menu-icon.svg") no-repeat center center;
}
nav.mobile-version .nav-button:hover {
  cursor: pointer;
}
nav.mobile-version .title {
  text-align: center;
  margin-top: 20px;
}
nav.mobile-version .content {
  margin-top: 70px;
  text-align: center;
}
.show {
  display: block !important;
}
.hide {
  display: none !important;
}
article {
  padding-left: 295px;
  padding-right: 15px;
}
.date {
  font-size: 0.8em;
  color: #454545;
}
@media (max-width: 800px) {
  nav.computer-version {
    display: none;
  }
  nav.mobile-version {
    display: block;
  }
  article {
    padding-left: 15px;
  }
}
